// COLORS
$body-background-color: #FFFDF8 !default
$color-text: #0E0E0E !default
$color-accent: #A97AE4 !default
$color-accent-b: #83D2FF
$color-background-alt: #FFFDF8 !default
$color-background: #FFFDF8 !default

$body-font-family: "Helvetica", sans-serif !default
$heading-font-family: "Alegreya", serif !default
$lead-font-family: "Helvetica", sans-serif !default

// Headings
$heading-font-weight: normal
// h1
$h1-size-desktop: px2rem(60)
$h1-size: px2rem(60)
// h2
$h2-size-desktop: px2rem(40)
$h2-size: px2rem(35)
// h3
$h3-size-desktop: px2rem(25)
// h4
$h4-size-desktop: px2rem(22)

$lead-weight: normal
$lead-size-desktop: px2rem(45)

$body-size-desktop: px2rem(25)

//footer
$footer-background-color: #0E0E0E

