.page__home
    header#document-header 
        border: none
    .menu
        display: none
    h1
        font-size: px2rem(35)
        font-weight: 300
        width: 60vh
        justify-content: flex-end
    p.lead
        line-height: 130%
        padding-top: 0
    hgroup
        @include media-breakpoint-up(desktop)
        padding-bottom: 0
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
    .hero
        margin-bottom: 0
        padding-bottom: 0
        .content  
            .lead
                margin-top: 25%
    .hero .content > hgroup
        width: auto
        margin-top: 0
    main
        padding-bottom: 0
        height: 100vh

    .block 
        .grid article
            display: none
    footer#document-footer
        display: none

footer#document-footer
    padding-top: 0
    .footer-logo
        display: none
    .container + .container
        padding-top: 0


header#document-header 
    border: none
    background: none

.breadcrumb-nav
    display: none

.img-illustration 
    .hero
        position: relative
        height: 90vh
        background-image: url(/assets/images/decor.png)
        background-size: col(12)
        background-origin: border-box
        background-repeat: no-repeat
        h1
            padding-top: 50px
            display: flex
            position: absolute
            width: col(6)
            bottom: 0
        p.lead
            display: flex
            margin-top: 65%
            width: col(6)
            bottom: 0

            
            
    



                
                
