.page__home
    header#document-header 
        border: none
    .menu
        display: none
    h1
        font-size: px2rem(35)
        font-family: $body-font-family
        font-weight: 300
        width: 50vh
        justify-content: flex-end
    p.lead
        line-height: 130%
        padding-top: 0
    hgroup
        @include media-breakpoint-up(desktop)
            padding-bottom: 0
            display: flex
            flex-direction: row-reverse
            justify-content: space-between
    .hero
        margin-bottom: 0
        padding-bottom: 0
        .content  
            .lead
                margin-top: 25%
                font-family: $heading-font-family
                font-size: px2rem(35)
    .hero .content > hgroup
        width: auto
        margin-top: 0
    main
        padding-bottom: 0
        height: 100vh
    .block 
        .grid article
            display: none
    footer#document-footer
        display: none

footer#document-footer
    padding-top: 0
    .footer-logo
        display: none
    .container + .container
        padding-top: 0


header#document-header 
    border: none
    background: none

.breadcrumb-nav
    display: none

//page illu
    
.img-illustration 
    .hero
        background-image: url(/assets/images/decor.png)
        background-size: col(12)
        background-repeat: no-repeat
        h1
            background-color: $color-background         
        hgroup
            @include media-breakpoint-up(desktop)
                width: col(6)
                margin-top: 18%
        .content
            @include media-breakpoint-up(desktop)
                justify-content: start
                padding-top: 25vh
            img
                display: none
                @include media-breakpoint-up(desktop)
                    display: block
                    width: 100%
                    margin-left: 35%
    .block-chapter--with-image
        .chapter
            position: relative
            @include media-breakpoint-up(desktop)
                display: flex !important
                flex-direction: row-reverse !important
                height: 90vh
                figure img
                    position: absolute
                    z-index: -1
                    left: 0
                    botom: 0
                    width: col(6)
                .text
                    padding-left: 10%
    .block-image
        display: none
    .block-title
        font-size: px2rem(50) 